 body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color:#fff;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from{background-color: #ff4c68;}
  to{background-color: #ef8172;}
}

h1{
  font-family:"Montserrat-thin";
  font-size:3.5rem;
  line-height:1.5;
}

.container-fluid{

  padding: 3% 15%;
}

/* Navigation Bar */
.navbar{
  padding:0 0 4.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download_button */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title-Image */
.title-image{
  width: 60%;
  transform:rotate(23deg);
}
/* Section 2-Styling */

#features{
  padding: 7% 15%;
  font-family:"Montserrat-bold";
}

.features-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "Montserrat-bold";
}
h2{
  font-family: Montserrat-bold;
  font-size: 3rem;
  line-height: 1.5;

}
p{
  color: #8f8f8f;
}

.icon{
color:#ef8172;
margin-bottom: 1rem;

}


.icon:hover{
color:#ff4c68;
  }

/* Testimonial Section */
#testimonials{
padding: 7% 15%;
text-align:center;
background-color:#ef8172;
color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
}
